{% extends 'orders/base.html' %} 
{% block content %} 
  
  <div class="account-details">
    <div class="center">
      <div class="round-image">
        <img src="{{ account.get_image_url }}" alt="No image provided.">
      </div>
      <p>Логин: {{ account.user.username }}</p>
      <p>Имя: {{ account.user.first_name }}</p>
      <p>Фамилия: {{ account.user.last_name }}</p>
      <p>Почта: {{ account.user.email }}</p>
      <p>Телефон: {{ account.phone_number }}</p>
      <p>О себе:<br>{{ account.about }}</p>
      <p>Всего выполнено заказов: {{ account.orders_executed }}</p>
    </div>
    
    {% if can_edit %}
    <button type="button" class="edit-accout-btn">
      <a href="{% url 'user_accounts:update' username=request.user.username %}"
        style="text-decoration: none; color: black">Изменить
      </a>
    </button>
    <button type="button" class="delete-account-btn">
      <a href="{% url 'user_accounts:delete' username=request.user.username %}"
        style="text-decoration: none; color: black">Удалить
      </a>
    </button>
    {% endif %}
  </div>

  
{% endblock %}
