{% extends 'orders/base.html' %} 
{% block content %}
<div class="login-form-wrapper">
  <div class="login-logo">
    Вход
  </div>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="fieldWrapper">
      {{ form.username.errors }}
      <label for="{{ form.username.id_for_label }}">
        <span class="fas fa-user"></span>
      </label>
      {{ form.username }}
    </div>
    <div class="fieldWrapper">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}">
        <i class="fas fa-key"></i>
      </label>
      {{ form.password }}
    </div>
    <div class="submit-btn">
      <button type="submit">Войти</button>
    </div>
  </form>
</div>
{% endblock %}
