.errorlist {
    list-style-type: none;
    background-color: rgba(252, 5, 5, 0.392);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(250, 237, 141);
    font-size: 0.8rem;
    border-radius: 25px;
    width: 200px;
    text-align: left;
    padding: 10px;
    border: 5px solid chartreuse;
  }