{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/orders/css/errorlist.css' %}">
    <link rel="stylesheet" href="{% static '/orders/css/main.css' %}">
    <title>Signup page</title>
  </head>
  <body>
    {% include 'orders/navbar.html' %}
    {% block content %}
    {% endblock %}
    <!-- SCRIPTS -->
    <script src="{% static '/orders/js/errorlist.js' %}"></script>
    <script src="{% static '/orders/js/main.js'%}"></script>
  </body>
</html>