{% block content %}
<main>
    <div class="order-list">
        {% for order in page_obj %}
        <a href="{% url 'orders:detail' order_uuid=order.id %}">
            <div class="order" style="border: 2px solid black;">
                <div class="order-action-group">
                    {% if permissions.{{forloop.counter}}.can_edit_order %}
                    <span class="order-edit-option">
                        <a href="{% url 'orders:update' order_uuid=order.id %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'orders:delete' order_uuid=order.id %}" class="order-delete-link"><i class="fas fa-trash"></i></a>
                    </span>
                    {% endif %}
                    {% if permissions.{{forloop.counter}}.can_accept_order %}
                    <span class="order-accept-option">
                        <a href="{% url 'orders:accept' order_uuid=order.id %}"><i class="fas fa-plus-circle"></i></a>
                    </span>
                    {% endif %}
                </div>
                <p>Заказчик: <a href="{% url 'user_accounts:info' username=order.author.username %}">{{ order.author.username }}</a></p>
                <p>{{ order.title|upper }}</p>
                <p>Описание:<br>{{ order.description|truncatechars:200 }}</p>
                <p>Дата выставления заказа: {{ order.date_posted|date:"N, l d-m-Y, G:i"}}</p>
                <p>Цена заказа: ${{ order.price}}</p>
                <p>Кошелёк исполнителя: 
                    {% if order.executor_wallet %}
                    <a href="{% url 'user_accounts:wallet_detail' wallet_uuid=order.executor_wallet.id %}">${{ order.executor_wallet.money }}</a>$
                    {% else %}
                    Не предоставлен.
                    {% endif %}
                </p>
                <p>Кошелёк заказчика: 
                    {% if order.orderer_wallet %}
                    <a href="{% url 'user_accounts:wallet_detail' wallet_uuid=order.orderer_wallet.id %}">${{ order.orderer_wallet.money }}</a>
                    {% else %}
                    Не предоставлен.
                    {% endif %}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>
{% endblock %}